@import "../variables";

.index-main {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 24px;

    @media (max-width: $laptop) {
        font-size: 14px;
        line-height: 18px;
    }
}

.index-main__container {
    padding: 0px 120px 37px 44px;

    @media (max-width: $laptop) {
        padding: 0px 30px 37px;
    }

    @media (max-width: $mobile) {
        padding: 0;
    }
}

.index-title {
    display: inline-block;
    padding: 16px 24px;
    margin-bottom: 24px;
    font-weight: var(--semi-bold);
    color: var(--main-page-color);
    background-color: var(--label-index);
    border-radius: 24px;

    @media (max-width: $mobile) {
        width: 100%;
        border-radius: 0;
    }
}

.index-main__item {
    margin-bottom: 24px;
}

.main-text {
    padding: 0 0 10px 24px;

    @media (max-width: $mobile) {
        padding: 0 24px;
    }
}

.edu-info {
    position: relative;
    font-weight: var(--semi-bold);
}

.edu-info::before {
    content: "";
    position: absolute;
    left: -62px;
    width: 20px;
    height: 20px;
    background-color: var(--accent-color);
    border-radius: 50%;

    @media (max-width: $mobile) {
        left: -32px;
    }
}

.edu__text {
    padding-left: 50px;

    @media (max-width: $mobile) {
        padding-left: 20px;
        margin-left: 22px;
    }
}

.edu__text:not(:last-child) {
    padding-bottom: 43px;
    border-left: 5px solid var(--accent-color);
}

.edu__text:last-child {
    border-left: 5px solid transparent;
}

.exp__subtitle {
    padding-top: 28px;
    font-weight: bold;
}

.exp__list {
    padding: 0 0 28px 24px;

    @media (max-width: $mobile) {
        padding: 0 16px 28px 0;
    }
}

.edu__text.exp__place {
    border-color: transparent;
}
