@import "../variables";

.portfolio{
    display: flex;
    flex-wrap: wrap;
    padding: 24px 120px 0 64px;
    justify-content: space-between;

    @media (max-width: 992px) {
        padding: 24px 5px 0;
    }
}

.portfolio>*{
    flex: 1 1 250px;
    padding: 0 25px;
    margin-bottom: 16px;
    text-align: center;

    @media (max-width: 992px) {
        padding: 0 10px;
    }
}

.portfolio__img {
    border: 3px  solid var(--accent-color);
    border-radius: 16px;
    background-color: var(--bg-color);
    margin-bottom: 20px;
}

.portfolio__info {
    max-width: 100%;
    font-weight: var(--regular);
}