@import "../variables";

.portfolio{
    display: flex;
    flex-wrap: wrap;
    padding: 24px 120px 0 64px;
    justify-content: space-between;

    @media (max-width: 992px) {
        padding: 24px 5px 0;
    }
}

.portfolio>*{
    flex: 1 1 250px;
    max-width: 300px;
    padding: 0 16px;
    margin-bottom: 16px;
    text-align: center;

    @media (max-width: 992px) {
        max-width: 100%;
        padding: 0 10px;
    }
    @media (min-width: 1440px) {
        text-align: start;
    }
}

.portfolio__item:last-child {
    @media (min-width: 1440px) {
        margin-right: auto;
    }
}

.portfolio__img {
    border: 3px  solid var(--accent-color);
    border-radius: 16px;
    background-color: var(--bg-color);
    margin-bottom: 20px;
    max-width: 250px;
}

.portfolio__img:hover {
    box-shadow: 6px 6px 30px 10px var(--accent-color);
    transform: translateX(20px);
}

.portfolio__img:hover {
    transform: translateX(5px);
    transition: 0.5s all;
}

.portfolio__info {
    font-weight: var(--regular);
    text-align: center;
}