@import "../_variables";

.index-main__promo {
    margin: 4.4rem 0 1.6rem;

    @media (max-width: $laptop) {
        margin: 2.5rem 0 2rem;
    }

    @media (max-width: $mobile) {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.promo {
    position: relative;
    left: -1.6rem;
    width: calc(100% + 1.6rem);
    background-color: var(--accent-color);
    padding: 1rem 6.25rem 2.6rem 2.4rem;
    font-weight: var(--regular);
    line-height: 1.3rem;

    @media (max-width: $laptop) {
        left: -1.4rem;
        width: calc(100% + 1.4rem);
        padding: 1.125rem 1.125rem 1.125rem 4rem;
    }

    @media (max-width: $mobile) {
        left: 0;
        padding: 1rem;
        width: 100%;
    }
}

.promo::before,
.promo::after {
    content: "";
    position: absolute;
    left: 0;
    width: 1.6rem;
    height: 1.6rem;
    @media (max-width: $laptop) {
        width: 1.4rem;
        height: 1.4rem;
    }
    @media (max-width: $mobile) {
        display: none;
    }
}

.promo::before {
    top: -1.55rem;
    background: linear-gradient(135deg, transparent 50%, var(--shadowed) 50%);
    
    @media (max-width: $laptop) {
        top: -1.4rem;
    }
}

.promo::after {
    bottom: -1.55rem;
    background: linear-gradient(45deg, transparent 50%, var(--shadowed) 50%);
    
    @media (max-width: $laptop) {
        bottom: -1.34rem;
    }
}

.promo__pos {
    font-weight: var(--semi-bold);
    font-size: 1rem;

    @media (max-width: $laptop) {
        font-size: 1rem;
    }
}

.promo__title {
    font-weight: var(--semi-bold);
    margin-bottom: 1rem;

    @media (max-width: $laptop) {
        margin-bottom: 0.5rem;
    }
}

.promo__text {
    text-align: justify;
    font-weight: var(--regular);
}

.promoAdd {
    @media (min-width: $mobile) and (max-width: $laptop) {
        text-align: start;
    }
}