@import "../variables";

.title {
    position: relative;
    text-transform: uppercase;
    color: var(--main-page-color);
    font-size: 1.2rem;
    padding-left: 3.2rem;
    padding-bottom: 1rem;

    @media (max-width: $laptop) {
        font-size: 1.125rem;
        padding-left: 2.3125rem;
    }
}

.title::before {
    content: "";
    position: absolute;
    left: -1.1rem;
    top: -0.25rem;
    width: 1.95rem;
    height: 1.95rem;
    border-radius: 50%;
    background-color: var(--accent-color);

    @media (max-width: $laptop) {
        left: -1rem;
        width: 1.5625rem;
        height: 1.5625rem;
    }
}

.side-info {
    max-width: 50%;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color); 
    padding: 1.8rem 1.75rem 10% 1.5rem;
    color: var(--font-side);
    box-sizing: border-box;

    @media (max-width: $laptop) {
        padding: 4.55rem 1rem 7.5rem 1.2rem;
    }

    @media (max-width: $mobile) {
        max-width: 100%;
        padding: 1.875rem;
    }
}

.main-header,
.main-info {
    max-width: 17.5rem;
    width: 15.5rem;

    @media (max-width: $laptop) {
        max-width: 13.125rem
    }

    @media (max-width: $mobile) {
        max-width: 100%;
        width: 100%;
    }
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person__container {
    max-width: 11.5rem;
    max-height: 11.5rem;

    @media (max-width: $laptop) {
        max-width: 10rem;
    }
}

.person__avatar {
    width: 100%;
}

.person__name {
    padding-top: 1.5rem;
    font-size: 1.6rem;
    font-weight: var(--semi-bold);
    background-image: 
        linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    @media (max-width: $laptop) {
         font-size: 1.375rem;
    }

    @media (max-width: $mobile) {
        padding-top: 0;
    }
}

.nav {
    width: 100%;
    padding-top: 0.8rem;
    font-size: 0.9rem;
    margin-bottom: 0.9rem;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    font-weight: var(--bold);

    @media (max-width: $laptop) {
        justify-content: space-evenly;
    }
}

.nav__item {
    width: 6.5rem;
    padding: 0.8rem 0.6rem;
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    font-weight: var(--bold);
    text-align: center;
    background-color: var(--accent-color);
    border-radius: 1.2rem;
    color: var(--main-page-color);
    transition: 500ms ease-in;
    cursor: pointer;

    @media (max-width: $laptop) {
        font-size: 0.875rem;
        width: 6.25rem;
    }
}

.btn-download {
    width: 12.5rem;
}

.nav__item:hover {
    transform: scale(1.1, 1.1);
    opacity: 0.9;
}

.nav__item.active {
    background-color: var(--main-page-color);
    color: var(--bg-color);
}

.contacts {
    border-left: 0.45rem solid #FCB045;
}

.interests {
    border-left: 0.45rem solid transparent;
    margin-bottom: 1.5rem;
}

.contacts-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 1.2rem 1.2rem;  

    @media (min-width: $mobile) and (max-width: $laptop) {
        display: grid;   
        grid-template-columns: 50% 50%;
        text-align: center;
    }
}

.contacts-list__item {
    @media (max-width: $laptop) {
        margin-right: 1.4rem;
        margin-bottom: 0.25rem;
    }

    @media (max-width: $mobile) {
        margin: 0;
    }
}

.icon-contacts {
    width: 1.5rem;
    height: 1.5rem;
    transition: 1s ease;
}

.icon-contacts:hover {
    transform: scale(1.2, 1.2);
}

.skills__list,
.lang__list {
    display: grid;
    grid-template-columns: 60% 40%;
    font-size: 0.7rem;
    padding-bottom: 0.4rem;
}

.lang__list {
    padding-bottom: 0.6rem;
}

.skills__item,
.lang__item {
    position: relative;
    color: var(--main-page-color);
    padding-left: 4.25rem;
    margin-bottom: 0.8rem;

    @media (max-width: $laptop) {
        padding-left: 2.8125rem;
    }
}

.skills__item:nth-child(even) {
    padding-left: 1rem;
}

.skills__item::before,
.lang__item::before {
    content: "";
    position: absolute;
    left: 3.2rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: var(--accent-color);
    border-radius: 50%;

    @media (max-width: $laptop) {
        left: 1.75rem;
    }
}

.skills__item:nth-child(even)::before {
    left: 0;
}

.interests__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.interests__item img {
    @media (max-width: $laptop) {
        max-width: 2.1875rem;
    }
}

.download{
    display: flex;
    justify-content: center;
}

.download li {
    max-width: 12.5rem;
    width: 100%;
    padding: 1rem;
}


