:root {
    //colors
    --bg-color: rgb(60, 63, 70);
    --main-page-color: rgb(255, 255, 255);
    --font-side: rgb(28, 30, 35);
    --accent-color: rgba(245, 164, 21, 1);
    --shadowed: rgba(201, 134, 21, 1);
    --shadowed-card: rgba(245, 164, 21, 0.4);
    --label-index: rgb(40, 42, 48);


    //fonts weights
    --light: 300;
    --regular: 400;
    --bold: 500;
    --semi-bold: 600;
    --bold: 700;
}

//screens
$mobile: 556px;
$laptop: 992px;
$desktop: 1440px;