:root {
    //colors
    --bg-color: #3C3F46;
    --main-page-color: #ffffff;
    --font-side: #1C1E23;
    --accent-color: #F5A415;
    --shadowed: #C98615;
    --label-index: #282A30;


    //fonts weights
    --light: 300;
    --regular: 400;
    --bold: 500;
    --semi-bold: 600;
    --bold: 700;
}

