@import "variables";
@import "reset";

html {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 20px;

    @media (max-width: $laptop) {
        font-size: 16px;
    }
}

#root {
    height: 100%;
}

body {
    flex-grow: 1;
}

.main-body {
    display: flex;
    height: 100%;

    @media (max-width: $mobile) {
        flex-direction: column;
    }
}

.content {
    flex-grow: 1;
}
